/* Navbar Container 
.navbar {
    background-color: #0A2647;  Deep Blue 
    padding: 10px 10px; /* More padding on all sides 
    display: flex;
    justify-content: center;
    
  }
  
  Navbar List 
  .nav-list {
    list-style: none;
    display: flex;
    gap: 30px; 
    padding: 0;
    margin: 0;
  }
  
  
  .nav-item {
    position: relative;
    color: white;
    font-size: 17px; 
    font-weight: bold;
    cursor: pointer;
    padding: 12px 15px;
    transition: all 0.3s ease;
  
  .nav-item:hover {
    background-color: #1B3B6F; 
    border-radius: 5px;
  }
  
  
  .dropdown {
    position: absolute;
    top: 45px; 
    left: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }
  
  

  .dropdown-item:hover {
    background: color #1b3b66;
    color: white;
    border-radius: 5px;
  }

  .dropdown-item a {
    text-decoration: none; 
    display: block;
    color: #0A2647; 
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .dropdown-item a:hover {
    background-color: #1B3B6F; 
    color: white;
    border-radius: 5px;
  }
  

.nav-button {
  display: inline-block;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s ease;
}


.nss {
  color: white; 
  border: 2px;
}

.nss:hover {
  border-color: #FFD700;

}


.contact {
  background-color: #2E8B57; 
  color: white;
}

.contact:hover {
  background-color: #5DADE2; 
}


.sign-in {
  background-color: white;
  color: #0A2647; 
}

.sign-in:hover {
  background-color: #5DADE2; 
  color: white;
}*/

